<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454676210718-6jq8ppnp0rpb2qcj91fv8c30f2iulj1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454676210718-6jq8ppnp0rpb2qcj91fv8c30f2iulj1q</string>
	<key>API_KEY</key>
	<string>AIzaSyDnXAOAv6RafrtLfOVhvgtZkam6ZSOzCWo</string>
	<key>GCM_SENDER_ID</key>
	<string>454676210718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johanna.kassenzettelApp</string>
	<key>PROJECT_ID</key>
	<string>kassenzettel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kassenzettel-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454676210718:ios:49d5c4fa9dd7bdce357a0f</string>
</dict>
</plist>